.arrow {
    width: 0px;
    height: 0px;
    border: 25px solid transparent;
    border-top-color: #3f729b;
    margin: 0;
    padding: 0;
    float: left;
}

.arrow:before {
    content: '';
    width: 0px;
    height: 0px;
    border: 30px solid inherit;
    display: inline-block;
    -webkit-transform: translate(-30px, -50px);
}

.arrow.left {
    transform: rotate(90deg) translate(0px, 25px);
    -webkit-transform: rotate(90deg) translate(0px, 25px);
    -moz-transform: rotate(90deg) translate(0px, 25px);
    -o-transform: rotate(90deg) translate(0px, 25px);
    -ms-transform: rotate(90deg) translate(0px, 25px);
    margin-right: -30px;
}

.arrow.down {
    transform: rotate(0deg) translate(0px, 25px);
    -webkit-transform: rotate(0deg) translate(0px, 25px);
    -moz-transform: rotate(0deg) translate(0px, 25px);
    -o-transform: rotate(0deg) translate(0px, 25px);
    -ms-transform: rotate(0deg) translate(0px, 25px);
    margin-top: -30px;
}

.arrow.up {
    transform: rotate(180deg) translate(0px, 25px);
    -webkit-transform: rotate(180deg) translate(0px, 25px);
    -moz-transform: rotate(180deg) translate(0px, 25px);
    -o-transform: rotate(180deg) translate(0px, 25px);
    -ms-transform: rotate(180deg) translate(0px, 25px) translate(0px, 25px);
    margin-bottom: -30px;
}

.arrow.right {
    transform: rotate(270deg) translate(0px, 25px);
    -webkit-transform: rotate(270deg) translate(0px, 25px);
    -moz-transform: rotate(270deg) translate(0px, 25px);
    -o-transform: rotate(270deg) translate(0px, 25px);
    -ms-transform: rotate(270deg) translate(0px, 25px);
    margin-left: -30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.process-container {
    background-color: #def0f1;
    padding: 10px;
}

.resources-container {
    background-color: #99dbf1;
    padding: 5px;
}

.resource-container {
}

.products-container {
    background-color: #99dbf1;
    padding: 10px;
}

.needs-container {
    background-color: #e4b9b9;
}

.need-container {
}

.product-container {
}

.info-box {
    width: auto;
    align-self: center;
    margin: 10px;
    min-height: 60px;
}

.info-box-icon {
    width: 60px;
    font-size: 18px;
    min-height: 60px;
    height: 60px;
    line-height: 60px;
}

.info-box-content {
    margin-left: 60px;
    display: flex;
    min-height: 60px;
    max-width: 200px;
}

.info-box-text {
    margin: auto;
    font-size: 12px;
    white-space: normal;
}

.information-products-container {
    background-color: #b5f197;
}

.manager-container {
    background-color: #f1f1bd;
    margin: 10px;
}

.control-system-container {
    background-color: #dae0f1;
    padding: 10px;
}

.target-resources-container {
    background-color: #c9f1a7;
}