.function-container {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-color: #0d6aad;
    border: #0d6aad solid;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-items: center;
    white-space: nowrap;
}

.function, .manager {
    margin-right: 5px;
    margin-left: 5px;
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-items: left;
}

.function-abbreviation, .function-name, .manager-abbreviation, .manager-name {
    padding: 5px;
}

.function {
    border-color: #00a65a;
}

.manager {
    border-color: #9f191f;
}

.function-abbreviation {
    border-right: solid;
    height: 100%;
    border-color: #00a65a;
}

.manager-abbreviation {
    border-right: solid;
    height: 100%;
    border-color: #9f191f;
}

.arrow {
    width: 0px;
    height: 0px;
    border: 17px solid transparent;
    border-top-color: #3f729b;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    float: left;
}

.arrow:before {
    content: '';
    width: 0px;
    height: 0px;
    border: 15px solid inherit;
    display: inline-block;
    -webkit-transform: translate(-17px, -50px);
}

.arrow.left {
    transform: rotate(90deg) translate(0px, 17px);
    -webkit-transform: rotate(90deg) translate(0px, 15px);
    -moz-transform: rotate(90deg) translate(0px, 15px);
    -o-transform: rotate(90deg) translate(0px, 15px);
    -ms-transform: rotate(90deg) translate(0px, 15px);
    margin-right: -7px;
}