.workspace {
    height: 600px;

}

.workspace > .header {
    height: 50px;
    background-color: #9bff9f;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.workspace > .header > * {
    margin-left: 20px;
    margin-right: 20px;
}

.workspace > .canvas {
    height: 550px;
    background-color: #e7fff3;
    border-radius: 10px;
}

.item {
    width: 150px;
}
